<!DOCTYPE html>
<html xmlns:th="http.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<!--<h3 th:text="${M1.name}">model沒有紀錄</h3>-->
登入者 : <h3 th:text=${session.M2.name}>session</h3>
<label th:text="${session.LM[0]}"/>
<hr>
編號 : <label th:text="${session.LM[0].id}"/><br>
姓名 : <label th:text="${session.LM[0].name}"/><br>
帳號 : <label th:text="${session.LM[0].username}"/><br>
密碼 : <label th:text="${session.LM[0].password}"/><br>
地址 : <label th:text="${session.LM[0].address}"/><br>
電話 : <label th:text="${session.LM[0].phone}"/><br>
<hr>
<table width=500 align=life border=1>
	<tr align="center">
		<td>id<td>姓名<td>帳號<td>密碼<td>地址<td>電話
	<tr align="center" th:each="m:${session.LM}">
		<td th:text="${m.id}">
		<td th:text="${m.name}">
		<td th:text="${m.username}">
		<td th:text="${m.password}">
		<td th:text="${m.address}">
		<td th:text="${m.phone}">	
</table>
<a href="/member/success">上一頁</a>
</body>
</html>